<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="fromUser" class="se.zust.edu.cn.User">
        <property name="id" value="1"/>
        <property name="name" value="18"/>
        <property name="email" value="qw"/>
        <property name="mobile" value="w"/>
        <property name="wx" value="s"/>
    </bean>
    <bean id="message" class="se.zust.edu.cn.Message">
        <property name="id" value="1"/>
        <property name="topic" value="1"/>
        <property name="content" value="1"/>
        <property name="from" ref="fromUser"/>
        <property name="to" ref="toUser"/>
    </bean>
    <bean id="toUser" class="se.zust.edu.cn.User">
        <property name="id" value="1"/>
        <property name="name" value="18"/>
        <property name="email" value="qw"/>
        <property name="mobile" value="w"/>
        <property name="wx" value="s"/>
    </bean>

    <bean id="wechatService" class="se.zust.edu.cn.WechatMessageServiceImpl">
        <constructor-arg index="0" value="12"/>
        <constructor-arg index="1" value="12"/>
    </bean>

    <bean id="smsService" class="se.zust.edu.cn.SMSMessageServiceImpl">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="1"/>
        <constructor-arg index="2" value="1"/>
    </bean>

    <bean id="emailService" class="se.zust.edu.cn.EmailMessageServiceImpl">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="2"/>
        <constructor-arg index="2" value="3"/>
    </bean>
</beans>
